.wrapper{
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-content: center;
    /* background-color: aqua; */
}

.logInContainer{
    width: 50vw;
    height: 70vh;
    border: 2px #23c7c9 solid;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.googleSignIn{
    width: 20rem;
    height: 3rem;
    border: 2px solid antiquewhite;
}

.formContainer{
 height: auto;
}

form{
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: space-around;
}

form input{
    width: 20rem;
    height: 3rem;
    background-color: transparent;
    border: 2px solid antiquewhite;
}

form button{
    height: 3rem;
}